*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --text : #fff;
    --gray : #F8F8F8;
    --black : #000000;
    --white: #FFF;

    --primary : #D7BFA5;
    --secondary :  #4B3621;

    --font-main : 'Cormorant' , serif;
    --font-body : 'Inter' , sans-serif;

    /* Font sizes */
  --fs-hero-title: 2.2rem;     /* Big heading in hero */
  --fs-section-title: 1.6rem;  /* Section titles like "New Arrivals" */
  --fs-product-title: 1rem;    /* Product name */
  --fs-product-price: 0.95rem; /* Prices */
  --fs-body: 0.95rem;          /* Normal text */
  --fs-small: 0.8rem;          /* Copyright, labels, etc. */
}
body{
    min-height: 100vh;
    background: var(--secondary);
    font-family: var(--font-body);
}
.container{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--white);
}

@media (orientation: landscape)
{
    /* Promo Slider */


.promo-slider{
    width: 100%;
    background-color: var(--white);
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

    /* navbar */
    .nav{
    width: 100%;
    height: 15vh;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: fixed;
}
}
@media (orientation: portrait){
    /* Promo Slider */


    .promo-slider{
    width: 100%;
    background-color: var(--white);
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
    /* navbar */


    .nav{
    width: 100%;
    height: 8vh;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: fixed;
}
}

/* Promo Slider */


.promo-slider p{
    font-size: var(--fs-small);
    font-family: var(--font-body);
}
.promo-slider i{
    font-size: var(--fs-body)
}

/* navbar */


.nav .nav__logo-box{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav .nav__logo-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav .nav__tools{
    display: flex;
    gap: 20px;
}
.nav i{
    font-size: var(--fs-body);
    color: var(--black);
}


/* Main slideshow */


.slideshow{
    background-color: red;
    width: 100%;
    
}
.slideshow__img-box{
    width: 100%;
    max-width: 100%;
}
.slideshow img{
    width: 100%;
    height: auto;
    object-fit: cover;
}